.deleteBtn button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #20f500;
    color: black;
    border: 2px solid #20f500;

    text-align: center;
    transform: translateY(180px);
}

.deleteBtn button:hover {
    background-color: #a2ff94;
    border: 2px solid #a2ff94;
    cursor: pointer;
}